<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="logo-foo">
                    <a href="#" title=""><img src="img/logo-foo.png" /></a>
                    <h3>TẬP ĐOÀN THẨM MỸ PAMAS</h3>
                </div>
            </div>
            <div class="col-sm-6 col-md-8">
                <div class="list-contact">
                    <ul>
                        <li><strong>Hồ Chí Minh</strong></li>
                        <li><span>63 Sương Nguyệt Ánh, Q.1. ĐT: 08 – 3925 2344</span></li>
                        <li><span>12L1, Vincom B, 72 Lê Thánh Tôn, Q.1. ĐT: 086.684.8344</span></li>
                    </ul>

                    <ul>
                        <li><strong>Đà Nẵng</strong></li>
                        <li><span>188 Hoàng Diệu, Q.Hải Châu. ĐT: 0511 – 386 8900</span></li>

                    </ul>
                    <ul>
                        <li><strong>Hà Nội</strong></li>
                        <li><span>57 Thái Hà, Q.Đống Đa. ĐT: 04 – 3537 9980</span></li>
                        <li><span>01 Hòa Mã, Q. Hai Bà Trưng. ĐT: 04 – 3976 1423</span></li>
                        <li><span>37 Thợ Nhuộm, Q. Hoàn Kiếm. ĐT: 04 – 3936 1350</span></li>
                    </ul>
                    <ul>
                        <li><strong>Vũng Tàu</strong></li>
                        <li><span>188 Trương Công Định, TP. Vũng Tàu.</span></li>
                        <li><span>ĐT: 064 – 355 4437</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>