<header id="header-main">
    <div class="navi-head">
        <div class="container">
            <div class="phone-head">
                <a href="tel:0934454556" title=""><i class="fa fa-phone"></i>HCM: 0934.45.45.56 - HN: 0902.34.34.99 </a>
            </div>
            <div class="social-head">
                <a href="#" title=""><span class="fa fa-facebook"></span></a>
                <a href="#" title=""><span class="fa fa-google-plus"></span></a>
                <a href="#" title=""><span class="fa fa-youtube-play"></span></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="logo">
            <a href="#" title=""><img src="img/logo-1.png" class="img-responsive" /></a><a href="#" title=""><img src="img/logo-2.png" class="img-responsive" /></a>
        </div>
        <div id="mainMenu">
            <ul id="mainMenu-mobie">
                <li><a href="#home" title="">HOME</a></li>
                <li><a href="#story" title="">STORY</a></li>
                <li><a href="#skin" title="">CÔNG DỤNG</a></li>
                <li><a href="#gift" title="">ƯU ĐÃI</a></li>
            </ul>
        </div>
        <div class="button-right">
            <a href="#sec-register" title="" class="btf bt-primary bt-block  item-href">ĐĂNG KÝ NGAY</a>
        </div>
    </div>
</header>

