<header id="header-main">
    <div class="container">
        <div class="logo"><a href="#" title=""><img src="img/logo.png" class="img-responsive" /></a></div>
        <div id="mainMenu">
            <ul id="mainMenu-mobie">
                <li><a href="#home" title="">Trang chủ</a></li>
                <li><a href="#sec-2" title="">Section 1</a></li>
                <li><a href="#sec-3" title="">Section 2</a></li>
                <li><a href="#sec-4" title="">Section 3</a></li>
                <li><a href="#sec-5" title="">Section 4</a></li>
            </ul>
        </div>
        <a href="tel:01679001100" title="" class="head-phone">Đăng Ký</a>
    </div>
</header>

