@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

.sec-wrap {
    float: left;
    width: 100%;
    padding-bottom: 30px;
    padding-top:30px;
    /*min-height: 100vh;*/
     .sec-title {
        text-align: center;
        width: 100%;
        float:left;
        padding:10px 0 30px 0;

        h2 {
            font-size: 72px;
            color: $color-blue;
            float: left;
            padding-bottom:10px;
            font-family:htl;
        }

        span {
            font-size: 18px;
            color: $text-color-primary;
            clear:both;
            display:block;

            b {
                text-transform: uppercase;
                font-weight: normal;
            }

            strong {
                font-weight: normal;
            }
        }
    }

    &.bgr-while {
        background-color: #fff;
    }

    &.bgr-gray {
        background-color: #e1e1e1;
    }

    &.bgr-images {
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

        .sec-title {
            h2 {
                color: #fff;
            }
        }
    }
    .sec-contnet {
        float:left;
        width:100%;
    }
}

.bg-images {
    position: relative;
}

.line {
    width: 120px;
    height: 2px;
    background-color: $color-primary;
    margin: 20px auto 0px;
    clear: both;

    &.line-left {
        float: left;
    }
}


.sec-banner {
    height: auto;
    margin-bottom: 0;
    min-height: 0;
    padding: 0;
}

.banner-mobie {
    display:none;
}

.container-wrap {
    max-width: 1000px;
    margin: auto auto;
}

.video {
    height: 340px;
    width:100%;
    float:left;
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1024px) {
    .container-wrap {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .video {
        height: 300px;
    }
}

@include mq(max-sm) {
    .video {
        height: 420px;
    }
}

@include mq(max-xs) {
    .video {
        height: 240px;
        margin-bottom:30px;
    }
    .banner-desktop {
        display:none;
    }
    .banner-mobie {
        display:block;
    }
    .sec-wrap {
        .sec-title {
            padding: 0px 0 30px 0;

            h2 {
                font-size: 42px;
            }
            span {
                font-size:15px;
            }
        }
    }
}
